---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts limit:5 %}
    <article class="post-summary">
      <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      <p class="post-excerpt">
        {% if post.subtitle %}
          {{ post.subtitle }}
        {% else %}
          {{ post.excerpt | strip_html | truncatewords: 50 }}
        {% endif %}
      </p>
    </article>
  {% endfor %}
</div>