.container {
  max-width: 40%;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 75rem;
  }
}

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.masthead-title {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 900;
  
  a {
    color: var(--title-color);
    text-decoration: none;
  }
}

.nav {
  display: flex;
  align-items: baseline;
}

.nav a {
  margin-left: 1rem;
  color: #999;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    color: #333;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  background-color: #fff;
  padding: 1rem 0;
}

.layout-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 0 0 30%;
  padding-right: 2rem;
}

.main-content {
  flex: 0 0 70%;
}

.main-content.full-width {
  flex: 0 0 100%;
}

@media (max-width: 768px) {
  .sidebar, .main-content {
    flex: 0 0 100%;
  }
  
  .sidebar {
    padding-right: 0;
    margin-bottom: 2rem;
  }
}
